@use './'as *;
.swiper {
  width:40%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
