@use './'as *;
.mySwiperTitle {
  margin-left: -5px;
  width: 40%;
  height: auto;
  @include media($tablet) {
    margin-left: -48.7px;
}
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}